@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-neutral-50 text-neutral-900;
    }

    .dark body {
        @apply bg-neutral-950 text-neutral-50;
    }

    a {
        @apply no-underline;
    }
}

@layer utilities {
    .stripe-placeholder {
        background-image: repeating-linear-gradient(
            135deg,
            currentColor 0,
            currentColor 1px,
            transparent 1px,
            transparent 9px
        );
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
